img {
  height: 5em;
  width: 160px;
  float: none;
  margin-left: 20px;
  padding-top: 10px;
}

.logo-wrapper {
  height: 6em;
}

body {
  background-color: Black;

}

.nav-bar {
  margin-left: 20px;
  margin-right: 1000px;

}

ul {
  margin-right: 1000px;


}


li {
  margin-right: 1000px;
}

p {
  margin-left: 200px;
}
